@font-face {
  font-family: "mali";
  font-weight: 200;
  src: url("fonts/mali-extralight-webfont.woff2") format("woff2"),
    url("fonts/mali-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "rampartone";
  font-weight: 400;
  src: url("fonts/rampartone-regular-webfont.woff2") format("woff2"),
    url("fonts/rampartone-regular-webfont.woff") format("woff");
}

:root {
  --clr-main-heading: 0;

  --ff-heading: ;
  --ff-normal: ;

  /* custom shadows*/
  --text-shadow-heading: -1px 2px 0.25px rgb(80, 46, 95),
    1px 1px 0.12px rgb(0, 0, 0), -1px 1px 0.12px rgb(0, 0, 0),
    -0.5px 1px 0 rgb(0, 10, 9), 1px -0.5px 0.12px rgb(203, 132, 214);

  --box-shadow-layered: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);

  --box-shadow-neon-filter: drop-shadow(
    1px 2px 8px var(--head-text-shadow-color)
  );
  --head-text-shadow-color: rgb(177, 100, 11);
}

/* general css resets */

/*        *beginning notes to self*


html:focus-within {       *moved to and @media for accessibility* 
  scroll-behavior: smooth; 
}
*/
/*

* only add  dark/ light in if I have extra time 

if I do this I will need to set up @media (prefers-color-scheme: dark) with root colors for dark screen and an @media light root colors for light screens, add in a theme selection - in case they want to override their prefered preference settings. and will need to add a few lines of js 
*/

/*         * box sizing rules and color scheme  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: dark;
}

/*              *removes default margins and fonts  */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  line-height: 1.5;
}

body {
  /* text-rendering: optimizeSpeed;*   may need addition accessibility @media     */
  overflow-x: hidden;
  font-family: "mali";
  background-color: rgb(38, 72, 72);
}

img,
picture {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
  max-width: 75ch;
  margin-bottom: 1.5rem;
}
/* :has(:tagert) selector doesnt have complete browser support */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* to check area/spacing 
.container{
    border: 1px solid rgb(57, 113, 82);
}

h1,
h2 {
  line-height: 1.2;
}
*/
/* head/nav styling */
.head-container {
  display: flex;
  padding: 5rem;

  align-items: center;
  justify-content: center;

  border: 0;
  background-color: rgb(15, 101, 101);
  background-image: url(images/retro\ media\ background\ .jpg);
  background-size: cover;
  background-blend-mode: lighten;
  box-shadow: 0px 8px 18px 2px rgba(39, 185, 170, 0.788);
}

.intro-text-wrap {
  margin-inline: auto;

  padding: 0;
}
.intro-text {
  font-family: "rampartone";
  font-size: 40px;
  color: rgba(8, 8, 8, 0.866);
  text-align: center;
  text-shadow: var(--text-shadow-heading);
  background-color: rgba(233, 148, 30, 0.745);
  box-shadow: -1px 3px 2px;
  filter: var(--box-shadow-neon-filter);
  border-radius: 1550px 1550px 900px 900px;
  border: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
}
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.nav-container {
  display: flex;
  justify-content: center;

  align-items: center;
}
.main-nav {
  display: flex;
  list-style: none;
  gap: 3em;
  padding: 0;
  box-shadow: var(--box-shadow-layered);
  background: hsla(157, 50%, 69%, 0.1);
  backdrop-filter: blur(1rem);
  margin: 0;
}
.main-nav a {
  text-decoration: none;

  color: rgb(184, 123, 0);
}
/*                    * mobile nav features *                   */
@media (max-width: 35em) {
  .main-nav {
    position: fixed;
    inset: 0 0 0 20%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    gap: 1.5rem;
    transform: translateX(100%);
    z-index: 1000;
  }
  .mobile-link {
  }

  .main-nav[data-visible="true"]
  /*.mobile-link[data-open="true"]*/ {
    transform: translateX(0%);
  }

  .mobile-menu {
    display: block;
    position: absolute;
    z-index: 9999;
    border-radius: 0.5rem;
    width: 2rem;
    border-color: rgba(120, 88, 150, 0.9);
    aspect-ratio: 1;
    top: 0.85rem;
    right: 1.25rem;
  }
  .head-container,
  .intro-text {
    padding: 0.5em;
    font-size: 30px;
  }
  .intro-text {
    font-size: 20px;
    text-shadow: 0 0;
  }
}
/*  general styling 1110 px 1.1rem */

.container,
.nav-container {
  --max-width: 1300px; /* change unit maybe 50rem */
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.columns {
  display: grid;
  gap: 1rem;
  padding: 0.2rem;
}
@media (min-width: 50em) {
  .main-nav a {
    margin-inline: 2.1em;
  }
  .main-nav {
    padding-left: 1em;
    padding-right: 1em;
  }
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 1.5rem;
  }
  .head-container {
    padding-bottom: 7rem;
  }
}
.padding {
  padding-block: 3.5rem;
}

.section-container {
  padding: 0.25rem;
}
a {
  text-decoration: none;
  color: darkolivegreen;
}
footer {
  padding: 2rem;

  background-color: slategray;
}

.social-link {
  color: white;
}
/* resouce selection styling*/

.resource:not(:last-child):not(:has(+ [hidden])) {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid whitesmoke;
}
.selection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border: 0;
  padding: 0;
}
@media (max-width: 35em) {
  .selection-btn,
  .selection {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    gap: 0.1rem;
  }
}

.resource-list {
  list-style: none;
  padding: o;
}
.selection-btn {
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}
.selection-btn:hover,
.selection-btn:focus {
  background-color: rgba(217, 155, 243, 0.556);
  text-shadow: 2px 2px 2px rgba(14, 15, 15, 0.2);
}
.selection-btn.active {
  pointer-events: none;
  background: rgb(60, 147, 122);
  color: aliceblue;
  box-shadow: 0 1.5em 1em -1em rgb(23, 61, 61);
}
/* View transitions for DOM manipulation */
/* Note on: View transitions- can NOT have multiple elements sharing a transition name, used js to give each its own a name */

/* form modal styling */
.modal::backdrop {
  background: linear-gradient(
    45deg,
    rgb(41, 112, 72),
    rgb(1, 76, 76),
    rgb(1, 76, 76),
    rgb(41, 112, 72),
    rgb(1, 76, 76)
  );

  opacity: 0.75;
}
.modal {
  padding: 1em;
  overflow: hidden;
  border: 0;
  border-radius: 0.8rem;
  background: linear-gradient(
    100deg,
    rgba(248, 162, 3, 0.362),
    rgba(128, 0, 128, 0.276)
  );

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.card {
  display: none;
  background: linear-gradient(
    45deg,
    rgba(248, 162, 3, 0.515),
    rgba(128, 0, 128, 0.403)
  );
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);

  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 320px;
  margin: 0 auto;
  animation: fade 500ms ease-in-out forwards;
}
.form-selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.25em;
}
.form-selection:last-child {
  margin: 0;
}
.form-selection > label {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
}
.form-selection > input,
.form-selection > textarea {
  border: 1px solid darkolivegreen;
  border-radius: 0.25em;
  font-size: 1rem;
  padding: 0.25em;
}

.focus {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1.5em;
  gap: 4.5em;
  font-size: 1rem;
}

.request-title {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}
.card.active {
  display: block;
  animation: slide 250ms 125ms ease-in-out both;
}
.form-container {
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* View transitions for DOM manipulation */
/* Note on: View transitions- can NOT have multiple elements sharing a transition name, used js to give each its own a name */
